{% extends 'todo/base.html' %}




{% block content %}

<div class="container pt-4">

    <div class="row m-5">

        <div class="col-lg-4 mx-auto shadow p-4 my-auto">



            <div class="alert alert-info">
                <h2>Add New Todo</h2>
            </div>



            <form method="post" action="add-todo">

                {% csrf_token%}


                {{form.as_p}}

                <hr>
                <input type="submit" value="ADD" class="btn btn-info">


            </form>
        </div>
        <div class="col shadow m-4" >

            <div class=>

                {% if todos|length == 0 %}
                 <div class="p-4 ">
                     <br>
                     <br>
                     <div class="alert alert-info text-center">
                         <p class="" style="font-size: 30px;">No Todos</p>
                     </div>
                     <br><br>
                 </div>
                
                 
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for todo in todos %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{todo.title}}</td>
                                
                                <td>

                                    {% if todo.status  == 'C' %}
                                   ✅
                                {% else %}
                                  🕓
                                {% endif %}
                                </td>
                                <td>{{todo.priority}}</td>
                                <td>
                                    <a href="delete-todo{{todo.id}}" style="text-decoration: none;" title="Delete">🗑</a>
                                    {% if todo.status  == 'P' %}
                                        <a href="change_status{{todo.id}}C" title="Mark as complete" style="text-decoration: none;">✅</a>
                                    {% else %}
                                        <a href="change_status{{todo.id}}P" title="Mark as Pending" style="text-decoration: none;">🕓</a>
                                    {% endif %}
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                    {% endif %}


                




            </div>

        </div>


    </div>

</div>




{% endblock %}